# system files
.DS_Store

# editor files
.idea/
.vscode/

# temp files
tmp/*

# terraform
terraform/.terraform
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/*.tfvars
